
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #fff;
    box-shadow:  rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

/* Navigation */
.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #007BFF;
}


.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
